Repository shuiro-dev/shuiro, pull requests merged in 2024-11, with the labels that each got.

#166 feat(backend): `getSubmissionsByProblemIdRoute`を実装
  backend/src/api/paths/problems.ts
Labels: enhancement, backend

#106 docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#172 chore(CI/CD): バックエンドのDockerfileと`compose.yaml`作成
  backend/Dockerfile
  backend/designdoc/docker.md
  compose.yaml
Labels: enhancement, backend, CI/CD

#179 feat(frontend): 提出ボタンを実装
  bun.lockb
  frontend/package.json
  frontend/src/components/ui/accordion.tsx
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/code-panel.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/editor.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/language-selector.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/submit-button.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/submissions.tsx
  frontend/src/routes/problems/$problemId/-components/problem-panel/problem-panel.tsx
  frontend/src/routes/problems/$problemId/-contexts/problem-context/problem-context.tsx
  frontend/src/routes/problems/$problemId/route.lazy.tsx
  frontend/src/routes/problems/$problemId/route.tsx
  frontend/src/routes/problems/index.lazy.tsx
  frontend/tailwind.config.ts
Labels: enhancement, frontend

#188 docs: add MIT License
  LICENSE
Labels: documentation

#187 feat(cli): 生徒用のCLIを実装
  .github/workflows/cli-ci.yml
  cli/.gitignore
  cli/Cargo.toml
  cli/designdoc/init.md
  cli/src/api/client.rs
  cli/src/api/mod.rs
  cli/src/commands/list.rs
  cli/src/commands/mod.rs
  cli/src/commands/show.rs
  cli/src/commands/submit.rs
  cli/src/config/mod.rs
  cli/src/config/settings.rs
  cli/src/main.rs
  cli/src/models/mod.rs
  cli/src/models/problem.rs
  cli/src/models/submission.rs
  shuiro.code-workspace
Labels: enhancement, CI/CD, cli

#193 docs: CLI作成に伴い`README.md`の更新
  README.md
Labels: documentation

#195 chore(cli): `Cargo.lock`をバージョン管理するように変更
  cli/.gitignore
  cli/Cargo.lock
Labels: cli

#196 docs: add ARCHITECTURE.md
  .github/assets/overview.png
  ARCHITECTURE.md
  README.md
  backend/ARCHITECTURE.md
  backend/README.md
  cli/ARCHITECTURE.md
  frontend/ARCHITECTURE.md
  frontend/README.md
Labels: documentation

#214 test: テスト環境でDBを操作できるように変更
  backend/.gitignore
  backend/ARCHITECTURE.md
  backend/README.md
  backend/designdoc/tests-with-database.md
  backend/package.json
  backend/prisma/seed.ts
  backend/src/api/paths/problems.ts
  backend/src/api/paths/submissions.test.ts
  backend/src/api/paths/submissions.ts
  backend/src/app.test.ts
  backend/src/app.ts
  backend/src/db/index.ts
  backend/src/db/prisma.ts
  backend/src/db/test-helpers.ts
  backend/vitest.config.ts
  backend/vitest.setup.ts
  bun.lockb
Labels: backend

#228 feat(language): Tokenizerを実装
  .github/workflows/language-ci.yml
  language/.gitignore
  language/Cargo.lock
  language/Cargo.toml
  language/src/lib.rs
  language/src/main.rs
  language/src/tokenize.rs
  language/src/tokenize/position.rs
  language/src/tokenize/source.rs
  language/src/tokenize/token.rs
  language/src/tokenize/tokenizer.rs
  shuiro.code-workspace
Labels: enhancement, language

#237 fix(backend)!: 問題の更新処理を修正
  backend/prisma/migrations/20241115045434_set_unique_keys/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/components/schemas.ts
  backend/src/api/paths/problem.test.ts
  backend/src/api/paths/problems.ts
  generated/openapi/schema.json
  generated/openapi/schema.ts
Labels: backend

#243 hotfix(deps): regenerate `mockServiceWorker.js`
  frontend/eslint.config.js
  frontend/public/mockServiceWorker.js
Labels: frontend

#247 feat(frontend): 管理画面に問題詳細管理画面を実装
  bun.lockb
  frontend/ARCHITECTURE.md
  frontend/README.md
  frontend/package.json
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/features/markdown-editor/components/editor.tsx
  frontend/src/features/markdown-editor/components/markdown-editor.tsx
  frontend/src/features/markdown-editor/components/preview.tsx
  frontend/src/features/markdown-editor/contexts/markdown-editor-context/index.ts
  frontend/src/features/markdown-editor/contexts/markdown-editor-context/markdown-editor-context.tsx
  frontend/src/features/markdown-editor/contexts/markdown-editor-context/markdown-editor-provider.tsx
  frontend/src/features/markdown-editor/hooks/use-markdown-editor/index.ts
  frontend/src/features/markdown-editor/hooks/use-markdown-editor/use-markdown-editor.ts
  frontend/src/features/markdown-editor/index.ts
  frontend/src/hooks/use-controlled-state/index.ts
  frontend/src/hooks/use-controlled-state/use-controlled-state.test.tsx
  frontend/src/hooks/use-controlled-state/use-controlled-state.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/admin/problems/$problemId/index.lazy.tsx
  frontend/src/routes/admin/problems/$problemId/index.tsx
  frontend/src/routes/admin/problems/-components/problem-form/data-table.tsx
  frontend/src/routes/admin/problems/-components/problem-form/field-info.tsx
  frontend/src/routes/admin/problems/-components/problem-form/index.ts
  frontend/src/routes/admin/problems/-components/problem-form/problem-form.tsx
  frontend/src/routes/admin/problems/-components/problem-form/submit-button.tsx
  frontend/src/routes/problems/$problemId/-context/problem-context/index.ts
  frontend/src/routes/problems/$problemId/-context/problem-context/problem-context.tsx
  frontend/src/routes/problems/$problemId/-hooks/use-problem/use-problem.ts
  frontend/src/routes/problems/$problemId/route.lazy.tsx
  frontend/tailwind.config.ts
  frontend/vite.config.ts
Labels: enhancement, frontend, user: admin

#254 chore(frontend): フロントエンドのCIでテストを実行
  .github/workflows/frontend-ci.yml
  frontend/README.md
  frontend/package.json
Labels: frontend, CI/CD

#256 chore(backend): フォーマットの対象にPrismaのスキーマを追加
  backend/package.json
Labels: backend

#257 feat: ユーザー画面に、SubmissionとTestCasesを表示できるようにする
  bun.lockb
  frontend/package.json
  frontend/src/routes/problems/$problemId/-components/info-panel/info-panel.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/submissions.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/test-cases.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/test-results.tsx
Labels: enhancement, frontend

#258 feat: 提出状況一覧画面を実装
  bun.lockb
  frontend/package.json
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/admin/submissions/index.lazy.tsx
Labels: enhancement, frontend

#264 test: add getProblem test
  backend/src/api/paths/problem.test.ts
Labels: backend
