Repository shuiro-dev/shuiro, pull requests merged in 2024-12, with the labels that each got.

#266 feat: 四則演算ができるようにParserを実装
  language/Cargo.lock
  language/Cargo.toml
  language/src/lib.rs
  language/src/main.rs
  language/src/parse.rs
  language/src/parse/ast.rs
  language/src/parse/parser.rs
  language/src/tokenize/position.rs
  language/src/tokenize/token.rs
  language/src/tokenize/tokenizer.rs
Labels: enhancement, language

#269 refactor(language): use cargo workspace
  .github/workflows/language-ci.yml
  language/Cargo.lock
  language/Cargo.toml
  language/crates/ast/Cargo.toml
  language/crates/ast/src/lib.rs
  language/crates/code-generator/Cargo.toml
  language/crates/code-generator/src/lib.rs
  language/crates/parser/Cargo.toml
  language/crates/parser/src/lib.rs
  language/crates/tokenizer/Cargo.toml
  language/crates/tokenizer/src/lib.rs
  language/crates/tokenizer/src/position.rs
  language/crates/tokenizer/src/source.rs
  language/crates/tokenizer/src/token.rs
  language/src/lib.rs
  language/src/main.rs
  language/src/parse.rs
  language/src/tokenize.rs
Labels: language

#270 feat(language): implement minimum code generator
  language/Cargo.lock
  language/Cargo.toml
  language/crates/ast/src/lib.rs
  language/crates/code-generator/Cargo.toml
  language/crates/code-generator/src/lib.rs
  language/crates/code-generator/src/template.wat
  language/crates/parser/src/lib.rs
  language/src/main.rs
Labels: enhancement, language

#260 feat(frontend): 管理画面に問題一覧画面を実装する
  frontend/src/route-tree.gen.ts
  frontend/src/routes/admin/problems/index.lazy.tsx
Labels: enhancement, frontend

#277 chore(deps): upgrade deps
  backend/package.json
  backend/src/services/program/languages/python/run.ts
  bun.lockb
  frontend/eslint.config.js
  frontend/package.json
  language/website/package.json
  package.json
Labels: frontend, backend, language, dependencies

#285 feat: implement if statement and if expression
  language/crates/ast/src/lib.rs
  language/crates/code-generator/examples/print_wat.rs
  language/crates/code-generator/src/lib.rs
  language/crates/parser/src/lib.rs
  language/crates/tokenizer/src/lib.rs
Labels: enhancement, language

#290 feat(language): add comparison operation and logical operation
  language/Cargo.lock
  language/Cargo.toml
  language/crates/ast/src/lib.rs
  language/crates/code-generator/Cargo.toml
  language/crates/code-generator/src/lib.rs
  language/crates/parser/Cargo.toml
  language/crates/parser/src/lib.rs
  language/crates/tokenizer/Cargo.toml
  language/crates/tokenizer/src/lib.rs
Labels: enhancement, language

#296 feat: add student dashboard
  bun.lockb
  frontend/package.json
  frontend/src/components/ui/progress.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/(student)/(dashboard)/index.lazy.tsx
  frontend/src/routes/_student.tsx
  frontend/src/routes/_student/(dashboard)/-components/problem-list/index.ts
  frontend/src/routes/_student/(dashboard)/-components/problem-list/problem-list.tsx
  frontend/src/routes/_student/(dashboard)/-components/progress-overview/index.ts
  frontend/src/routes/_student/(dashboard)/-components/progress-overview/progress-overview.tsx
  frontend/src/routes/_student/(dashboard)/-components/recent-submissions/index.ts
  frontend/src/routes/_student/(dashboard)/-components/recent-submissions/recent-submissions.tsx
  frontend/src/routes/_student/(dashboard)/index.lazy.tsx
  frontend/src/routes/_student/(dashboard)/index.tsx
  frontend/src/routes/_student/problems/$problemId/-components/code-panel/code-panel.tsx
  frontend/src/routes/_student/problems/$problemId/-components/code-panel/editor.tsx
  frontend/src/routes/_student/problems/$problemId/-components/code-panel/index.ts
  frontend/src/routes/_student/problems/$problemId/-components/code-panel/language-selector.tsx
  frontend/src/routes/_student/problems/$problemId/-components/code-panel/submit-button.tsx
  frontend/src/routes/_student/problems/$problemId/-components/code-panel/test-button.tsx
  frontend/src/routes/_student/problems/$problemId/-components/info-panel/index.ts
  frontend/src/routes/_student/problems/$problemId/-components/info-panel/info-panel.tsx
  frontend/src/routes/_student/problems/$problemId/-components/info-panel/submissions.tsx
  frontend/src/routes/_student/problems/$problemId/-components/info-panel/test-cases.tsx
  frontend/src/routes/_student/problems/$problemId/-components/problem-panel/index.ts
  frontend/src/routes/_student/problems/$problemId/-components/problem-panel/problem-panel.tsx
  frontend/src/routes/_student/problems/$problemId/-context/problem-context/index.ts
  frontend/src/routes/_student/problems/$problemId/-context/problem-context/problem-context.tsx
  frontend/src/routes/_student/problems/$problemId/-hooks/use-problem/index.ts
  frontend/src/routes/_student/problems/$problemId/-hooks/use-problem/use-problem.ts
  frontend/src/routes/_student/problems/$problemId/route.lazy.tsx
  frontend/src/routes/_student/problems/$problemId/route.tsx
  frontend/src/routes/_student/problems/index.lazy.tsx
  frontend/src/routes/_teacher.tsx
  frontend/src/routes/_teacher/admin/(dashboard)/index.lazy.tsx
  frontend/src/routes/_teacher/admin/problems/$problemId/index.lazy.tsx
  frontend/src/routes/_teacher/admin/problems/$problemId/index.tsx
  frontend/src/routes/_teacher/admin/problems/-components/problem-form/data-table.tsx
  frontend/src/routes/_teacher/admin/problems/-components/problem-form/field-info.tsx
  frontend/src/routes/_teacher/admin/problems/-components/problem-form/index.ts
  frontend/src/routes/_teacher/admin/problems/-components/problem-form/problem-form.tsx
  frontend/src/routes/_teacher/admin/problems/-components/problem-form/submit-button.tsx
  frontend/src/routes/_teacher/admin/problems/index.lazy.tsx
  frontend/src/routes/_teacher/admin/submissions/$submissionId/-components/submission-info/index.ts
  frontend/src/routes/_teacher/admin/submissions/$submissionId/-components/submission-info/submission-info.tsx
  frontend/src/routes/_teacher/admin/submissions/$submissionId/-components/submitted-code/index.ts
  frontend/src/routes/_teacher/admin/submissions/$submissionId/-components/submitted-code/read-only-code-block.tsx
  frontend/src/routes/_teacher/admin/submissions/$submissionId/-components/submitted-code/submitted-code.tsx
  frontend/src/routes/_teacher/admin/submissions/$submissionId/-components/test-results/index.tsx
  frontend/src/routes/_teacher/admin/submissions/$submissionId/-components/test-results/test-results.tsx
  frontend/src/routes/_teacher/admin/submissions/$submissionId/route.lazy.tsx
  frontend/src/routes/_teacher/admin/submissions/$submissionId/route.tsx
  frontend/src/routes/_teacher/admin/submissions/index.lazy.tsx
  frontend/tailwind.config.ts
Labels: enhancement, frontend

#304 feat: add admin dashboard
  frontend/src/route-tree.gen.ts
  frontend/src/routes/_student/(dashboard)/-components/problem-list/problem-list.tsx
  frontend/src/routes/_teacher/admin/(dashboard)/-components/problem-list/index.ts
  frontend/src/routes/_teacher/admin/(dashboard)/-components/problem-list/problem-list.tsx
  frontend/src/routes/_teacher/admin/(dashboard)/-components/recent-submissions/index.ts
  frontend/src/routes/_teacher/admin/(dashboard)/-components/recent-submissions/recent-submissions.tsx
  frontend/src/routes/_teacher/admin/(dashboard)/index.lazy.tsx
  frontend/src/routes/_teacher/admin/(dashboard)/index.tsx
Labels: enhancement, frontend

#299 chore: Improve Backend Deployment Workflow
  .dockerignore
  .github/workflows/deploy-backend.yml
  backend/Dockerfile
  backend/litestream.yml
  backend/run.sh
Labels: backend, CI/CD

#310 feat(frontend): add edit language
  bun.lockb
  frontend/public/mockServiceWorker.js
  frontend/src/routes/_teacher/admin/problems/-components/problem-form/problem-form.tsx
Labels: frontend

#315 feat(language): get coverage report
  .github/workflows/language-ci.yml
  language/.vscode/settings.json
  language/Makefile.toml
  language/crates/tools/Cargo.toml
Labels: CI/CD

#330 chore: deploy language website to github pages
  .github/workflows/deploy-language-website.yml
Labels: CI/CD, language
