Repository shuiro-dev/shuiro, pull requests merged in 2024-10, with the labels that each got.

#38 feat: OpenAPIを導入
  .github/workflows/backend-ci.yml
  .gitignore
  backend/Cargo.toml
  backend/README.md
  backend/package.json
  backend/src/api.rs
  backend/src/api/components.rs
  backend/src/api/components/schemas.rs
  backend/src/api/paths.rs
  backend/src/api/paths/problems.rs
  backend/src/api/paths/submissions.rs
  backend/src/bin/generate.rs
  backend/src/lib.rs
  backend/src/main.rs
  bun.lockb
  frontend/README.md
  frontend/bun.lockb
  frontend/package.json
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  generated/openapi/README.md
  generated/openapi/package.json
  generated/openapi/schema.json
  generated/openapi/schema.ts
  package.json
  program-grading-system.code-workspace
Labels: frontend, backend

#47 chore: React + Next.js から Vite + React + TanStack Router に移行する
  bun.lockb
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/components.json
  frontend/eslint.config.js
  frontend/index.html
  frontend/next.config.mjs
  frontend/package.json
  frontend/postcss.config.js
  frontend/postcss.config.mjs
  frontend/prettier.config.js
  frontend/public/vite.svg
  frontend/src/app/favicon.ico
  frontend/src/app/fonts/GeistMonoVF.woff
  frontend/src/app/fonts/GeistVF.woff
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/index.lazy.tsx
  frontend/src/styles/global.css
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#70 feat: バックエンドをHonoへ移行し、新たにruntimeを生成
  .github/workflows/backend-ci.yml
  .github/workflows/runtime-ci.yml
  backend/.gitignore
  backend/Cargo.toml
  backend/README.md
  backend/build.ts
  backend/eslint.config.js
  backend/package.json
  backend/prettier.config.js
  backend/src/api.rs
  backend/src/api/components.rs
  backend/src/api/components/schemas.rs
  backend/src/api/components/schemas.ts
  backend/src/api/paths.rs
  backend/src/api/paths/problems.rs
  backend/src/api/paths/problems.ts
  backend/src/api/paths/submissions.rs
  backend/src/api/paths/submissions.ts
  backend/src/app.ts
  backend/src/bin/generate.rs
  backend/src/bin/genereate.ts
  backend/src/index.ts
  backend/src/lib.rs
  backend/src/main.rs
  backend/tsconfig.json
  bun.lockb
  generated/openapi/schema.json
  generated/openapi/schema.ts
  program-grading-system.code-workspace
  runtime/.gitignore
  runtime/Cargo.toml
  runtime/src/main.rs
Labels: backend

#77 fix: bun run generateを修正
  backend/package.json
Labels: backend

#79 feat(backend): APIの各エンドポイントのparamsのidを数値に変更
  backend/src/api/paths/problems.ts
  backend/src/api/paths/submissions.ts
  generated/openapi/schema.json
  generated/openapi/schema.ts
Labels: backend

#82 feat(backend): 重複しているoperationIdの名前を変更
  backend/src/api/paths/problems.ts
  generated/openapi/schema.json
  generated/openapi/schema.ts
Labels: bug, backend

#84 chore(ci): バックエンドのCIに型チェックを追加
  .github/workflows/backend-ci.yml
  backend/package.json
  bun.lockb
Labels: backend

#86 feat(backend): SubmissionCreateコンポーネントに`code`、`language`プロパティを追加
  backend/src/api/components/schemas.ts
  generated/openapi/schema.json
  generated/openapi/schema.ts
Labels: enhancement, backend

#88 chore(backend): SwaggerからScalarに移行
  backend/package.json
  backend/src/app.ts
  bun.lockb
Labels: backend

#90 feat(backend): プログラム提出時に、提出時刻を保持するようスキーマを変更
  backend/src/api/components/schemas.ts
  backend/src/api/paths/problems.ts
  backend/src/api/paths/submissions.ts
  generated/openapi/schema.json
  generated/openapi/schema.ts
Labels: backend

#69 feat(frontend): ユーザー画面に問題解答画面を実装
  bun.lockb
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/resizable.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/index.lazy.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/code-panel.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/editor.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/index.ts
  frontend/src/routes/problems/$problemId/-components/code-panel/language-selector.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/submit-button.tsx
  frontend/src/routes/problems/$problemId/-components/code-panel/test-button.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/index.ts
  frontend/src/routes/problems/$problemId/-components/info-panel/info-panel.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/submissions.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/test-cases.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/test-results.tsx
  frontend/src/routes/problems/$problemId/-components/problem-panel/index.ts
  frontend/src/routes/problems/$problemId/-components/problem-panel/problem-panel.tsx
  frontend/src/routes/problems/$problemId/-contexts/problem-context/index.ts
  frontend/src/routes/problems/$problemId/-contexts/problem-context/problem-context.tsx
  frontend/src/routes/problems/$problemId/-hooks/use-problem/index.ts
  frontend/src/routes/problems/$problemId/-hooks/use-problem/use-problem.ts
  frontend/src/routes/problems/$problemId/route.lazy.tsx
  frontend/src/routes/problems/$problemId/route.tsx
  frontend/src/styles/global.css
Labels: enhancement, frontend

#96 docs: 最低限必要な内容を書いたREADMEを整備
  README.md
  backend/README.md
  frontend/README.md
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
Labels: documentation, frontend, backend

#105 feat: DBのスキーマを定義
  .devcontainer/devcontainer.json
  backend/.env.example
  backend/.gitignore
  backend/README.md
  backend/package.json
  backend/prisma/migrations/20241021131830_init/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  bun.lockb
Labels: backend

#111 chore: `@tanstack/eslint-plugin-router` を導入
  bun.lockb
  frontend/eslint.config.js
  frontend/package.json
Labels: frontend

#115 chore: `eslint-plugin-unicorn`を導入
  backend/build.ts
  backend/eslint.config.js
  backend/package.json
  backend/prisma/seed.ts
  bun.lockb
  frontend/eslint.config.js
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/main.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/problems/$problemId/-components/code-panel/test-button.tsx
  frontend/src/routes/problems/$problemId/-components/info-panel/submissions.tsx
  frontend/vite.config.ts
Labels: frontend, backend

#136 docs(backend): READMEに環境変数などの設定方法を追加
  backend/README.md
Labels: documentation, backend

#138 fix(backend): add prisma generate
  .github/workflows/backend-ci.yml
Labels: bug, backend, CI/CD

#140 fix(backend): `type-check`にて`prisma generate`が実行されるように変更
  .github/workflows/backend-ci.yml
Labels: bug, backend, CI/CD

#126 feat(backend): `getProblemsRoute`と`createProblemRoute`を実装
  backend/src/api/paths/problems.ts
Labels: backend

#142 chore(backend): interfaceよりtypeを優先して使うようESLintのConfigを変更
  backend/eslint.config.js
Labels: backend

#145 feat(backend): `getProblemRoute`を実装
  backend/src/api/paths/problems.ts
  generated/openapi/schema.json
Labels: enhancement, backend

#151 chore(backend): add vitest
  .github/workflows/backend-ci.yml
  backend/package.json
  backend/src/app.test.ts
  backend/vitest.config.ts
  bun.lockb
Labels: backend, CI/CD

#153 feat(backend): submitProblemを実装
  backend/.gitignore
  backend/package.json
  backend/src/api/components/schemas.ts
  backend/src/api/paths/problems.ts
  backend/src/bin/postinstall.ts
  backend/src/services/program/index.ts
  backend/src/services/program/languages/index.ts
  backend/src/services/program/languages/python/index.ts
  backend/src/services/program/languages/python/run.test.ts
  backend/src/services/program/languages/python/run.ts
  backend/src/services/program/run.test.ts
  backend/src/services/program/run.ts
  backend/src/services/program/test.test.ts
  backend/src/services/program/test.ts
  bun.lockb
  generated/openapi/schema.json
  generated/openapi/schema.ts
Labels: enhancement, backend

#154 feat(backend): バックエンドにCORSの設定を追加
  backend/src/app.ts
Labels: backend

#155 feat(backend): プログラムに対してテストを実行するAPIを作成
  backend/src/api/paths/problems.ts
  generated/openapi/schema.json
  generated/openapi/schema.ts
Labels: enhancement, backend

#157 feat: 問題更新apiを実装
  backend/src/api/paths/problems.ts
Labels: enhancement, backend

#158 feat(backend): `deleteProblemRoute`を実装
  backend/src/api/paths/problems.ts
Labels: enhancement, backend

#161 fix(backend): 不要なコメントを削除
  backend/src/api/paths/problems.ts
Labels: backend
